.player {
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

.others {
    position: absolute;
    /*background-color: black;*/
    z-index: 5;
}

#playerlist {
    position: absolute;
    top: 100px;
    left: 600px;
}

.gamearea {
    width: 500px;
    height: 500px;
    background-color: white;
    position: fixed;
    top: 50px;
    left: 50px;
}

body {
    background-color: gray;
}

.cordstext {
    font-size: 30px;
}